.select-wrapper{
    --jb-select-border-color:none;
    --jb-select-border-radius:8px;
    --jb-select-border-color-selected:none;
    --jb-input-label-font-size:14px;
    --jb-input-label-font-weight:500;
    --jb-select-border-bottom-width	:1px;
    --jb-select-bgcolor:#ececec;
    --jb-select-option-background-color:#ececec;
    --jb-select-bgcolor-selected:grey;
    --jb-select-option-color:#c3c5b7;
    --jb-select-selected-value-color:#c3c5b7;
    --jb-select-input-color:#c3c5b7;
    --jb-select-margin:0;
    --jb-select-height:48px;
    --jb-select-overlay-bgcolor:#ececec;
    --jb-select-mobile-search-input-height:48px;
    --jb-select-mobile-item-list-margin:40px 0 0 0 ;
    --jb-select-list-padding:0;
    --jb-select-mobile-input-bgcolor:red;
    --jb-select-mobile-search-border-radius:8px;
    --jb-select-mobile-search-border-bottom-width:1px;
    --jb-select-mobile-search-border-bottom-color:transparent;
    --jb-select-list-max-height:250px;
}
