jb-select::part(color-box){
    border-radius: 10px;
}
.select-custom-design{
    --jb-select-border-color:none;
    --jb-select-rounded:8px;
    --jb-select-border-color-selected:none;
    --jb-input-label-font-size:14px;
    --jb-input-label-font-weight:500;
    --jb-select-border-bottom-width	:1px;
    --jb-select-bgcolor:#ececec;
    --jb-select-option-background-color:#ececec;
    --jb-select-bgcolor-selected:grey;
    --jb-select-option-color:#c3c5b7;
    --jb-select-selected-value-color:#c3c5b7;
    --jb-select-input-color:#c3c5b7;
}
.style-table-title-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    color: navy;
    height: 50px;
    width: 200px;
    margin: 22px 128px 4px;
    text-shadow: 0px 1px #0004ff;
    padding: 8px 24px;
}
.style-table-content-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    color: navy;
    height: 300px;
    width: 350px;
    margin: -16px 48px;
    border: 4px;
    padding: 12px 24px;
    border-style: solid;
    border-color:blue;
    border-radius: 24px;
    box-shadow: 12px 12px 24px #888888;
    
}
.filter-select-style-1{
    --jb-select-margin: 0px 2px;
    --jb-select-rounded: 24px;
    --jb-select-border-color: royalblue;
    --jb-select-border-color-selected: tomato;
    --jb-select-bgcolor: mintcream;
}
.style-table-title-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    color: navy;
    height: 50px;
    width: 200px;
    margin: 22px 128px 4px;
    text-shadow: 0px 1px #0004ff;
    padding: 8px 24px;
}
.style-table-content-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    color: navy;
    height: auto;
    width: 350px;
    margin: -16px 48px;
    border: 4px;
    padding: 12px 24px;
    border-style: solid;
    border-color:blue;
    border-radius: 24px;
    box-shadow: 12px 12px 24px #888888;
}
.filter-select-style-2{
    --jb-select-margin: 0px 4px;
    --jb-select-rounded: 0px;
    --jb-select-border-color: rgb(26, 23, 23);
    --jb-select-border-color-selected: rgb(30, 29, 43);
    --jb-select-bgcolor-selected: rgb(195, 57, 230);
    --jb-select-bgcolor: lightgray;
    --jb-select-mobile-search-input-height: 64px;
    --jb-select-border-bottom-width:1px;
    --jb-select-mobile-item-list-border-radius:16px;
}
.self-style-select{
    --jb-select-margin: 0px 4px;
    --jb-select-rounded: 0px;
    --jb-select-border-color: rgb(26, 23, 23);
    --jb-select-border-color-selected: rgb(30, 29, 43);
    --jb-select-bgcolor-selected: rgb(195, 57, 230);
    --jb-select-bgcolor: lightgray;
}
