jb-select::part(color-box){
    border-radius: 0.625rem;
}
.select-custom-design{
    --jb-select-border-color:none;
    --jb-select-rounded:0.5rem;
    --jb-select-border-color-selected:none;
    --jb-input-label-font-size:0.875rem;
    --jb-input-label-font-weight:500;
    --jb-select-border-bottom-width	:1px;
    --jb-select-bgcolor:#ececec;
    --jb-select-option-background-color:#ececec;
    --jb-select-bgcolor-selected:grey;
    --jb-select-option-color:#c3c5b7;
    --jb-select-selected-value-color:#c3c5b7;
    --jb-select-input-color:#c3c5b7;
}
