.part-styled-select::part(selected-value) {
  border-radius: 62.4375rem;
  background: #dbeafe;
  color: #1d4ed8;
  font-weight: 700;
  padding: 0.125rem 0.5rem;
}

.part-styled-select::part(search-input) {
  color: #1d4ed8;
  caret-color: #1d4ed8;
}

.part-styled-select::part(arrow-icon) {
  color: #1d4ed8;
}

.state-styled-select:state(open) {
  --jb-select-border-color: #2563eb;
  --jb-select-border-color-focus: #2563eb;
  --jb-select-bg-color: #eff6ff;
}

.state-styled-select:state(disabled) {
  --jb-select-bg-color-disabled: #f1f5f9;
  --jb-select-value-color-disabled: #64748b;
}

.state-styled-select:state(invalid) {
  --jb-select-border-color: #dc2626;
  --jb-select-message-color-error: #dc2626;
}
