jb-select.candy-style {
  --jb-select-height: 2.5rem;
  --jb-select-rounded: 999rem;
  --jb-select-border-width: 1px;
  --jb-select-border-bottom-width: 1px;
  --jb-select-border-color: var(--jb-border-color);
  --jb-select-border-color-focus: #fb7185;
  --jb-select-border-color-selected: #fb7185;
  --jb-select-bg-color: #fffafd;
  --jb-select-bg-color-selected: #fffafd;
  --jb-select-label-color: #be185d;
  --jb-select-value-color: #831843;
  --jb-select-placeholder-color: var(--jb-primary-pressed);
  --jb-select-message-color: #be185d;
  --jb-select-message-color-error: #e11d48;
  --jb-select-label-margin: 0 0 0.375rem;
  --jb-select-message-padding: 0.375rem 0 0;
  --jb-select-list-padding: 0.5rem;
  --jb-option-color: #831843;
  --jb-option-bg-color-active: #fecdd3;
  --jb-option-color-active: #831843;
  --jb-option-border-radius: 1rem;
}

jb-select.candy-style::part(selected-value) {
  background: #fce7f3;
  border-radius: 999rem;
  box-shadow: none;
}

jb-select.candy-style::part(arrow-icon) {
  color: #fb7185;
}

jb-select.candy-style::part(popover-content) {
  --jb-popover-bg-color: #fffafd;
  --jb-popover-padding: 0.5rem;
  box-shadow: 0 0.75rem 1.75rem rgb(244 114 182 / 0.2);
}
